<h1 class="page-header">Anomalies</h1>
<div class="row placeholders">
	<div class="col-xs-6 col-sm-3 col-md-3">
						<div id="map3"></div>
	</div>
	<div class="col-xs-6 col-sm-5 col-md-6">
						<div class="chart" id="charttype"></div>
	</div>
</div>
<div class="row placeholders">
	<div class="col-xs-6 col-sm-8 col-md-12 placeholder">
				<table id="tablealarms" class="display table">
               	   <thead>
               	   		<tr>
                           <th class="firstcolumn">Source IP</th><th>Dest IPs</th><th>type</th><th>Start</th><th>End</th>
               	   		</tr>
               	   </thead>
               	   <tfoot>
               	   		<tr>
                           <th class="firstcolumn">Source IP</th><th>Dest IPs</th><th>type</th><th>Start</th><th>End</th>
               	   		</tr>
               	   </tfoot>
                   <tbody></tbody>
                   <button id='clearfilter' type='button'>clear filters</button>
               </table>
	</div>
</div>
<div id="custom-details">
          	   <div class="col-xs-6 col-sm-8 col-md-12">
								<div class="row placeholders">
										<div id='entrada' class="col-md-12 placeholder"></div>
            					</div>
								<div class="row">
									<div class="col-md-3 placeholder">
										<h3>Top 5 destination IP</h3>
										<div class='chart' id="chart1details"></div>
									</div>
									<div class="col-md-3 placeholder">
										<h3>Top 5 source IP</h3>
										<div class='chart' id="chart2details"></div>
									</div>
									<div class="col-md-4">
										<h3>Location anomaly</h3>
										<div id="mapdetails"></div>
									</div>
								</div>
								<div class="row placeholders">
									<div class="col-md-3 placeholder">
										<h3>Top 5 destination port</h3>
										<div class='chart' id="chart3details"></div>
									</div>
									<div class="col-md-3 placeholder">
										<h3>Top 5 source port</h3>
										<div class='chart' id="chart4details"></div>
									</div>
									<div class="col-md-3 placeholder">
										<h3>Top 5 Type of Service</h3>
										<div class='chart' id="chart5details"></div>
									</div>
									<div class="col-md-3 placeholder">
										<h3>Top 5 protocols</h3>
										<div class='chart' id="chart6details"></div>
									</div>
								</div>
								<div class="row placeholders">
									<h3>Top 5 Conversations</h3>
									<div class="col-md-4 placeholder">
										<div class="chart" id="chart12details"></div>
									</div>
									<div class="col-md-4 placeholder">
										<table id="conv-details0" class="table">
						               	   <thead>
						               	   		<tr>
						                           <th>Conversation</th><th>#</th><th>Avg Bytes</th><th>Avg Pckts</th><th>Total Bytes</th><th>Total Pckts</th>
						               	   		</tr>
						               	   </thead>
						                   <tbody></tbody>
						               </table>
									</div>
								</div>
								<div class="row placeholders">
									<h3>Top 5 Flows</h3>
									<div class="col-md-4 placeholder">
										<div class="chart" id="chart13details"></div>
									</div>
									<div class="col-md-4 placeholder">
										<table id="conv-details1" class="table">
						               	   <thead>
						               	   		<tr>
						                           <th>Flow</th><th>#</th><th>Avg Bytes</th><th>Avg Pckts</th><th>Total Bytes</th><th>Total Pckts</th>
						               	   		</tr>
						               	   </thead>
						                   <tbody></tbody>
						               </table>
									</div>
								</div>
								<div class="row placeholders">
									<div class="col-md-6 placeholder">
										<h3>Average/Total In packets</h3>
										<div id="chart9details"></div>
									</div>
									<div class="col-md-6 placeholder">
										<h3>Number of Closed Flows</h3>
										<div id="chart11details"></div>
									</div>
								</div>
								<div class='buttons'>
					          	   <button id='report' type='button' class='btn btn-primary'>Report (pdf)</button>
					          	   <button id='down' type='button' class='btn btn-primary'>Export Database</button></div>
          	   </div>
          	   
</div>
				