<h1 class="page-header">Demo mode</h1>
<h2 class="demoh2">Select an available pcap...</h2>
<div class="demo col-md-offset-2 col-sm-offset-1 col-sm-7 col-md-8">
	<div class="demoscrollbar">
		<div class="demohandle">
			<div class="mousearea"></div>
		</div>
	</div>
	<button class="demobackward"><i class="fa fa-angle-left"></i></button>
	<button class="demoforward"><i class="fa fa-angle-right"></i></button>
	<div class="demoframe" id="crazy">
					<ul class="slidee">
						
					</ul>
	</div>
</div>