<h1 class="page-header">Export Database</h1>
<div class="export col-md-offset-2 col-sm-offset-1 col-sm-7 col-md-10">
			<div class='choose col-sm-7 col-md-10'><span>type</span><select id="anomaliesornetflow" class="selectpicker">
						<option value="anomalies">Anomalies</option>
					  	<option value="netflows">Netflows</option>
			</select></div>
			<div class="choose col-sm-3 col-md-5 ">
				<div class='labelup'>From: </div><input id="frompicker" type="text" class='picker'> 
			</div>		
			<div class="choose col-sm-3 col-md-5">
				<div class='labelup'>To: </div><input id="topicker" type="text" class='picker'>
			</div>			 
			<div class='col-sm-7 col-md-10'><button id="downdown" type="button" class="btn btn-info">Download</button></div>
</div>