<h1 class="page-header">Flow Analysis</h1>
<div class="row placeholders rowflow">
	<h3 class="flowh3">Top 5 conversations</h3>
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
				<div class='chart' id="chartconv"></div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-6 placeholder">
				<table id="conv-details" class="display table">
							<thead>
								<tr>
									<th>Conversation</th>
									<th>#</th>
									<th>Avg Bytes</th>
									<th>Avg Pckts</th>
									<th>Total Bytes</th>
									<th>Total Pckts</th>
								</tr>
							</thead>
							<tbody></tbody>
				</table>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3">
				<div class='chart' id="mapconv"></div>
	</div>
</div>
					
<div class="row placeholders">
	<h3 class="flowh3">Top 5 flows</h3>
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
				<div class='chart' id="chartflow"></div>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-6 placeholder">
				<table id="flow-details" class="display table">
							<thead>
								<tr>
									<th>Flow</th>
									<th>#</th>
									<th>Avg Bytes</th>
									<th>Avg Pckts</th>
									<th>Total Bytes</th>
									<th>Total Pckts</th>
								</tr>
							</thead>
							<tbody></tbody>
				</table>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3">
				<div class='chart' id="mapflow"></div>
	</div>
</div>