<h1 class="page-header">Forensic mode</h1>
<h2 class="forensich2">Select the period to display...</h2>
<div class="forensic col-md-offset-2 col-sm-offset-1 col-sm-7 col-md-10">
	<div class="choose col-sm-3 col-md-5 ">
			<div class='labelup'>From: </div><input id="frompicker" type="text" class='picker'> 
	</div>		
	<div class="choose col-sm-3 col-md-5">
			<div class='labelup'>To: </div><input id="topicker" type="text" class='picker'>
	</div>
</div>