<h1 class="page-header">Forensic mode</h1>
<h2 class="forensich2">Select an available pcap...</h2>
<div class="forensic col-md-offset-2 col-sm-offset-1 col-sm-7 col-md-8">
	<div class="forensicscrollbar">
		<div class="forensichandle">
			<div class="mousearea"></div>
		</div>
	</div>
	<button class="forensicbackward"><i class="fa fa-angle-left"></i></button>
	<button class="forensicforward"><i class="fa fa-angle-right"></i></button>
	<div class="forensicframe" id="crazy">
					<ul class="slidee">	</ul>
	</div>
</div>