<h1 class="page-header">Forensic mode</h1>
<h2 class="forensich3">Choose the minimum interval to display...</h2>
<div class="forensic col-md-offset-2 col-sm-offset-1 col-sm-7 col-md-8">
	<div class="slideThree">	
		<input type="checkbox" value="None" id="slideThree" name="check" />
		<label for="slideThree"></label>
	</div>
	<div class="w3-progress-container w3-round">
    	<div class="w3-progressbar w3-blue w3-round" style="width:50%">
    		<div class="w3-center w3-text-white"></div>
    	</div>
  	</div>
  	<div id='play'><button class="w3-btn w3-hover-blue" title='start forensic mode'>Play</button></div>
</div>