<h1 class="page-header">Manage Database</h1>
<div class="openpcap col-md-offset-1 col-sm-offset-1 col-sm-7 col-md-10">
	<div class="col-sm-3 col-md-5">
		<h2 class="openh2">Pcaps loaded</h2>
		<ul id="loaded" class="list-group"></ul>
		<button class="btn btn-danger" role="button" id="erase">Erase all pcap files</button>
	</div>
	<div class="col-md-offset-1 col-sm-3 col-md-5">
		<h2 class="openh2">Load Pcap</h2>
		 <div class='choose'><select id="choosePCAP" class="selectpicker"></select></div>
		<button id="send" type="button" class="btn btn-info">Load Pcap (with anomalies)</button>
	</div>
</div>