<h1 class="page-header">RealTime mode</h1>
<h2 class="rth2">Select last minutes...</h2>
<div class="rt col-md-offset-2 col-sm-offset-1 col-sm-7 col-md-8">
	<div class="rtscrollbar">
		<div class="rthandle">
			<div class="mousearea"></div>
		</div>
	</div>
	<button class="rtbackward"><i class="fa fa-angle-left"></i></button>
	<button class="rtforward"><i class="fa fa-angle-right"></i></button>
	<div class="rtframe" id="crazy">
					<ul class="slidee">
						
					</ul>
	</div>
</div>