<h1 class="page-header">Settings</h1>
<div class="settings col-sm-7 col-md-12">
	<div class="col-sm-3 col-md-6">
		<h2 class="settingsh2">Anomaly source</h2>
		<div  id="currentlySelected" class="alert alert-info" style= display:inline-block> <strong>Currently selected: </strong></div>
		<div class='choose'><select id="chooseAnomaliesSource" class="selectpicker">
					  <option value="French Source">ONTIC Anomaly Detection Subsystem</option>
					  <option value="Spanish Source">Alternative Source</option>
		</select></div>			 
		<button id="sendAnomaliesSource" type="button" class="btn btn-info">Change</button>
	</div>
	<div class="col-sm-3 col-md-6">
		<h2 class="settingsh2">Anomaly importance</h2>
		<div  id="currentlySelectedImp" class="alert alert-info" style= display:inline-block> <strong>Currently selected: </strong></div>
		 <div class='choose'><select id="chooseAnomaliesImp" class="selectpicker"></select></div>		 
		 <button id="sendAnomaliesImp" type="button" class="btn btn-info">Change</button>
	</div>
</div>