<h1 class="page-header">Traffic Analysis</h1>
<div class="row placeholders">
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
						<h3>Top 5 destination IP</h3>
						<div class='chart' id="chart1"></div>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3">
						<h3>Top 5 destination IP Map</h3>
						<div id="map2"></div>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
						<h3>Top 5 source IP</h3>
						<div class='chart' id="chart2"></div>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3">
						<h3>Top 5 source IP Map</h3>
						<div id="map1"></div>
	</div>
</div>
					
<div class="row placeholders">
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
						<h3>Top 5 destination port</h3>
						<div class='chart' id="chart3"></div>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
						<h3>Top 5 source port</h3>
						<div class='chart' id="chart4"></div>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
						<h3>Top 5 Type of Service</h3>
						<div class='chart' id="chart5"></div>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
						<h3>Top 5 protocols</h3>
						<div class='chart' id="chart6"></div>
	</div>
	
</div>

					
					
<div class="row placeholders">
	<div class="col-xs-6 col-sm-3 col-md-6 placeholder">
						<h3>Average-Total In bytes</h3>
						<div class='chart' id="chart7"></div>
	</div>
	
	<div class="col-xs-6 col-sm-3 col-md-6 placeholder">
						<h3>Average-Total In packets</h3>
						<div class='chart' id="chart8"></div>
	</div>
</div>
<div class="row placeholders">
	<div class="col-xs-6 col-sm-3 col-md-8 placeholder">
						<h3>Number of Closed Flows</h3>
						<div class='chart' id="chart11"></div>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 placeholder">	
				<h3>Megabits per second</h3>			
				<div class='chart' id="chart9"></div>		
	</div>
</div>
				