@CHARSET "ISO-8859-1";
#map3{
	height: 250px;
}
#tablealarms{
	font-size: 12px;
    color: #616161;
    text-align: left;
    cursor:pointer;
}
#tablealarms tbody tr{
	height: 30px;
}
#tablealarms thead th{
	font-size: 14px;
}
#custom-details{
	display:none; 
	background-color:white;
	max-height: 700px;
	overflow-y: scroll;
	min-height: 700px;
}
#custom-details #entrada{
	margin-top:1%;
}
#custom-details .buttons{
	margin-bottom:1%;
}
#mapdetails{
	width:500px;
	height:300px;
}
#chart12details svg, #chart13details svg{
	padding-top: 10%;
    height: 300px;
    width: 300px;
    padding-left:10%;
}
#clearfilter{
	position: absolute;
    bottom: 1%;
    left: 15%;
    z-index:1;
    color:rgb(97, 97, 97);
}
#charttype{
	height: 260px;
}
