@CHARSET "ISO-8859-1";
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.navbar-brand{
	cursor: default;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

h3, h2{
	color:#616161;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar-nav li a{
	font-size:13px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.sidebar a{
	color: #9d9d9d;
}
#navbar{
	height: 51px !important;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222;
    border-right: 1px solid #eee;
  }
}
@media (min-width: 992px){
	.col-md-2 {
	    width: 15%;
	}
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar img{
	padding-left: 10%;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  background-color:inherit!important;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
/*   color: #fff; */
background-color:inherit;
}
.nav-sidebar > li > a:hover {
	color:white;
}

/*
 * Main content
 */

.main {
/*   padding: 20px; */
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
/*     padding-left: 40px; */
  }
}
.main .page-header {
  margin-top: 0;
}

.page-header{
	color: #0099CC;
	border-bottom: 1px solid #0099CC;
	font-weight: bold;
}
.page-header span{
	color:#616161;
	font-size:20px;
	margin:0 10px;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.loading, #init{
	height:350px;
	background:url(../img/loading.gif) no-repeat 100% 100%;
}
#logosatec{
	position:absolute;
	bottom:10px;
	left:0;
	padding:0;
}
#about{
	display:none;
	background-color:white;
	width:500px!important;
	height:450px!important;
	padding:5%;
	margin:auto;
}
#about img{
	margin-bottom:1%;
}
