@CHARSET "ISO-8859-1";
.demoframe { 
	width: 80%; 
    height: 220px; 
    padding: 0;    
    margin: 0 auto;
    line-height: 200px;
    overflow: hidden;
    text-shadow: none;
}
.demoframe .slidee { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	list-style: none; 
    font-size: 50px;
}
.demoframe .slidee li { 
	float: left;
    margin: 0 5px 0 0; 
    padding: 0; 
    width: 220px; 
    height: 100%;
    background: #3a3c47;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size:16px;
}
.demoframe ul li.active {
    color: #fff;
    background: #0099CC;
    font-size: 16px;
}
.demoframe ul li.noactive {
    color: #fff;
    background: #3a3c47;
    font-size: 18px;
}
.demoscrollbar { width: 80%; height: 10px; line-height: 0; margin: 0 auto 20px;}
.demoscrollbar .demohandle {
    width: 100px;
    height: 50%;
    background: #0099CC;
    cursor: pointer;
}
.demoscrollbar .demohandle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}
.demo{
	padding-top: 5%;
}
.demoh2{
	text-align: center;
	margin-top:8%;
}
.demo h2, .demo h1{
	color:#3a3c47; 
}
.demoforward, .demobackward {
    float: left;
    width: 10%;
    height: 220px;
    font-size: 60px;
    background: transparent;
    border: 0;
    color: #0099CC;
    opacity: .5;
    cursor: auto;
}
.demoforward:hover, .demobackward:hover{
	opacity: 1;
}
.demoforward i, .demobackward i{
	cursor: pointer;
}
.demoforward {
    float: right;
}
@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 0.5; }
}