@CHARSET "ISO-8859-1";
#mapconv, #mapflow{
	height: 250px;
}
#conv-details, #flow-details{
	font-size: 12px;
	color:#616161;
}
.flowh3{
	margin-bottom: 30px;
	margin-top: 0px;
}
#chartflow svg, #chartconv svg{
	height: 300px;
	padding-top: 10%;
}
.rowflow{
	margin-bottom:0;
}