@CHARSET "ISO-8859-1";
.forensicframe { 
	width: 80%; 
    height: 220px; 
    padding: 0;    
    margin: 0 auto;
    line-height: 200px;
    overflow: hidden;
    text-shadow: none;
}
.forensicframe .slidee { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	list-style: none; 
    font-size: 50px;
}
.forensicframe .slidee li { 
	float: left;
    margin: 0 5px 0 0; 
    padding: 0; 
    width: 220px; 
    height: 100%;
    background: #3a3c47;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size:16px;
}
.forensicframe ul li.active {
    color: #fff;
    background: #0099CC;
    font-size: 16px;
}
.forensicframe ul li.noactive {
    color: #fff;
    background: #3a3c47;
    font-size: 18px;
}
.forensicscrollbar { width: 80%; height: 10px; line-height: 0; margin: 0 auto 20px;}
.forensicscrollbar .forensichandle {
    width: 100px;
    height: 50%;
    background: #0099CC;
    cursor: pointer;
}
.forensicscrollbar .forensichandle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}
.forensic{
	padding-top: 5%;
	color:#616161;
	height:300px;
}
.forensich2, .forensich3{
	text-align: center;
	margin-top:8%;
}
.forensic h2, .forensic h1{
	color:#3a3c47; 
}
.forensicforward, .forensicbackward {
    float: left;
    width: 10%;
    height: 220px;
    font-size: 60px;
    background: transparent;
    border: 0;
    color: #0099CC;
    opacity: .5;
    cursor: auto;
}
.forensicforward:hover, .forensicbackward:hover{
	opacity: 1;
}
.forensicforward i, .forensicbackward i{
	cursor: pointer;
}
.forensicforward {
    float: right;
}
@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 0.5; }
}
/* .forensic .xdsoft_datepicker{ */
/* 	width:300px; */
/* } */
/* .forensic .xdsoft_timepicker{ */
/* 	width:60px; */
/* } */
.forensic .xdsoft_datetimepicker{
	margin: 0 10px;
}
.forensic .xdsoft_calendar table tbody tr td{
	font-size: 14px;
}
.forensic .xdsoft_timepicker .xdsoft_time_box .xdsoft_time_variant .xdsoft_time{
	font-size: 14px;
}
.forensic .xdsoft_timepicker .xdsoft_time_box .xdsoft_time_variant{
	margin-right: 5px;
}
input[type=checkbox] {
	visibility: hidden;
}
.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label{
	left: 43px;
}
.w3-progress-container{
	cursor:pointer;
	display:none;
	background-color:#333;
}
.forensic #play{
	text-align:center;
	position: absolute;
    bottom: 0;
    width: 96%;
}
.forensic .choose{
	text-align:center;
}
.forensic .choose .labelup{
	color:#616161;
	font-weight:bold;
}