@CHARSET "ISO-8859-1";
.openpcap{
	margin-top: 10%;
}
.openpcap .openh2{
	margin-bottom:20%;
}
.openpcap div{
	text-align: center;
}
.openpcap .choose{
	margin-bottom:20px;
	color:#616161;
}

.openpcap .choose select{
	width: 100%;
}