/* video container */
.videoContainer{
	position:fixed;
	overflow:hidden;
	color:#ccc;
	max-height:100%;
	overflow-y:scroll;
/* 	min-height:700px; */
	padding-bottom:100px;
}

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.control{
	background: #222;
    color: #ccc;
    position: fixed;
    bottom: 0px;
    margin-left: 15%;
    width: 100%;
    left: 0px;
    z-index:1;
}
/* control top part */
.topControl{
	height:15px;
	border-bottom:1px solid #404040;
	padding:1px 5px;
	background:#1F1F1F; /* fallback */
	background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}
/* control bottom part */
.btmControl{
	clear:both;
	background: #1F1F1F; /* fallback */
	background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}
.control div.btn {
	float:left;
	width:34px;
	height:30px;
	padding:0 5px;
	cursor:pointer;
}
.control div.btn:hover{
	color:white;
}
.btnx1{
	margin-left: 20px;
}
.btnx2, .btnx4, btnx8{
	margin: 0 4px;
}
.control div.text{
	font-size:12px;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	font-family:verdana;
	width:20px;
	border:none;
	color:#777;
}
.control div.btnRT, .control div.btnDE, .control div.btnFO{
	color:#777;
}
.control div.btnPlay{
	background:url(../img/control.png) no-repeat 0 0;
	margin-left: 10px;
	position: absolute;
    bottom: 12%;
}
.control div.paused{
	background:url(../img/control.png) no-repeat 0 -30px;
}
.control div.btnStop{
	background:url(../img/control.png) no-repeat 0 -60px;
	position: absolute;
    bottom: 12%;
    margin-left: 3%;
}
.control div.spdText{
	border:none;
	font-size:14px;
	line-height:30px;
	font-style:italic;
	cursor: auto;
	margin-left: 7%;
}
.control div.selected{
	font-size:15px;
	color:#ccc;
}
.control div.btnOpen, .control div.btnRT, .control div.btnDE, .control div.btnFO, .control div.btnAlert{
	border:none;
	float:right;
}
.control div.btnAlert{
	margin-right: 2%;
}
.control div.btnOpen{
	margin-right: 15%;
}
.control div.btnOpen img{
	position: absolute;
    bottom: 20%;
    right: 16.5%;
}
.control div.btnFO{
	margin-right: 50px;
}
/* PROGRESS BAR CSS */
/* Progress bar */
.progress {
	width:75%;
	height:14px;
	position:relative;
	float:left;
	cursor:pointer;
	background: #444; /* fallback */
	background:-moz-linear-gradient(top,#666,#333);
	background:-webkit-linear-gradient(top,#666,#333);
	background:-o-linear-gradient(top,#666,#333);
	box-shadow:0 2px 3px #333 inset;
	-moz-box-shadow:0 2px 3px #333 inset;
	-webkit-box-shadow:0 2px 3px #333 inset;
/* 	border-radius:10px; */
/* 	-moz-border-radius:10px; */
/* 	-webkit-border-radius:10px; */
}
.progress span {
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
/* 	border-radius:10px; */
/* 	-moz-border-radius:10px; */
/* 	-webkit-border-radius:10px; */
}
.timeBar{
	z-index:10;
	width:0;
	background: #3FB7FC; /* fallback */
	background:-moz-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	background:-webkit-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	background:-o-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	box-shadow:0 0 1px #fff;
	-moz-box-shadow:0 0 1px #fff;
	-webkit-box-shadow:0 0 1px #fff;
}
.bufferBar{
	z-index:15;
	width:0;
	background: #444;
	background:-moz-linear-gradient(top,#666,#333);
	background:-webkit-linear-gradient(top,#666,#333);
	background:-o-linear-gradient(top,#666,#333);
/* 	box-shadow:2px 0 5px #333; */
/* 	-moz-box-shadow:2px 0 5px #333; */
/* 	-webkit-box-shadow:2px 0 5px #333; */
}
/* time and duration */
.time{
	width:25%;
	float:right;
	font-size:12px;
	padding-left: 1%;
}

/* OTHERS CSS */
/* video screen cover */

#init{
	background:url(../img/bigplay.png) no-repeat 50% 50% !important;
	cursor:pointer;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}