@CHARSET "ISO-8859-1";

.chord path{
	fill-opacity: 1;
	stroke: #000;
	stroke-width: 1px;
}
.chartfill path{
	fill-opacity: .75;
	stroke: #000;
	stroke-width: 1px;
}

#map1, #map2{
	height: 250px;
}

.leaflet-table-container{
	opacity:0.9;
	filter: alpha(opacity=40);
}
.leaflet-table-container input, .leaflet-table-container textarea{
/* 	background-color: transparent; */
opacity:0.8;
}

.c3-axis-y-label{
	font-size:14px;
}